<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>school management system</h1>
            <hr>
            <p>Manually written data which is prone to numerous errors has arisen the need to adopt the automated and cloud-based school management software for educational institutes.</p>
        </div>
    </div>
</header>

